<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Boom0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{37,0},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,0},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,37},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{37,37},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,37},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,74},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{37,74},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,74},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,111},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Boom0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{37,111},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>boom.png</string>
				<key>textureFileName</key>
				<string>boom</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
